
// Body
$body-bg: #f5f8fa;
$mobile-bp: 768px;
$main-color: #4d80b3;
$main-nav: #18528B;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Open Sans", "Kanit", arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

$text-color: #111;
$text-grey: #888;
$food-sub-color: #aaa;
$darkbg-font-color: #FFF;

$p-size: 1.25em;
$h1-size: 32px;
$h2-size: 28px;
$heading-size: 24px; //used in <header>
$food-title-size: 15px;
$food-sub-size: 11px;
$food-info-size: 15px;

$p-weight: 300;
$heading-weight: 300;

$p-margin: 0 0 2em 0;
$list-margin: 0 0 1.5em 0;

$little-spacing: 0.1em;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//section
$section-margin: 10em 0 0;
$header-padding: 6em 0;

//Foods
$northeast-color: #ED4337;
$northeast-nav: #CE2113;
$northeast-btn: #FF6A5E;
$northeast-btn-hover: #FFAB5E;

$north-color: #4C9F11;
$north-nav: #368200;
$north-btn: #89C627;
$north-btn-hover: #B8DD51;

$south-color: #D5682B;
$south-nav: #DC4A00;
$south-btn: #E99E1B;
$south-btn-hover: #FFAB5E;

$generic-color: #F1C500;
$generic-nav: #F1B300;
$generic-btn: #FFDF51;
$generic-btn-hover: #FFD100;
